<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Captha+send e-mail</title>
  <script src="axios.min.js"></script>
</head>

<body>
  <div id="app"> [[ myRandom ]]

    <form v-on:submit="sendForm">
      <input type="text" v-model="ContactForm.name" placeholder="Your Name"> <br>
      <input type="text" v-model="ContactForm.phone" placeholder="Phone Number"><br>
      <textarea v-model="ContactForm.message" rows="8" cols="80" class="form-control">
      </textarea>
      <br>
      <button data-text="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h1> Антиспам </h1>
    <section class="captcha">
      <span class="captcha-item first-number"> [[ x ]] </span>
      <span class="captcha-item sign"> + </span>
      <span class="captcha-item second-number"> [[ y ]]</span>
      <span class="captcha-item equality"> = </span>
      <span class="captcha-item answer">
        <input type="text " class="captcha-answer" class="result" v-model="res">
      </span>

      <span class="captcha-item button-send">
        <input class="btn send" value="Отправить" type="submit" :hidden='res != z' />

    </section>
  </div>

  <script src="vue.global.js"></script>
  <script src="axios.min.js"></script>
  <script>
    // const axios = require('axios'); 
    // import axios from 'axios'
    Vue.createApp({
      data: () => ({
        x: '',
        y: '',
        z: 0,
        res: 0,
        lst_numbers: ['ноль', 'один', 'два', 'три', 'четыре', 'пять', 'шесть', 'семь', 'восемь', 'девять', 'десять'],
        sent: false,
        ContactForm: {
          name: '',
          phone: '',
          message: ''
        }
      }),
      computed: {
        myRandom() {
          x = Math.round(Math.random() * 10);
          y = Math.round(Math.random() * 10);
          this.z = x + y;
          this.x = this.lst_numbers[x];
          this.y = this.lst_numbers[y];

        },

      },
      methods: {
        sendForm(e) {
          e.preventDefault()
          console.log(this.ContactForm)
          this.$axios.post('mailserver.php',
            querystring.stringify(this.ContactForm)).then(res => {
              this.sent = true
            })
        }
      },
      delimiters: ["[[", "]]"],
    }).use(VueAxios, axios).mount("#app");


  </script>
</body>

</html>